HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Terraform ###
infra/terraform/**/.terraform/
infra/terraform/**/.terraform.lock.hcl
infra/terraform/**/terraform.tfvars
infra/terraform/**/*.tfstate
infra/terraform/**/*.tfstate.backup
infra/terraform/**/*.tfstate.*.backup
infra/terraform/**/*.auto.tfvars
infra/terraform/**/override.tf
infra/terraform/**/override.tf.json
infra/terraform/**/*_override.tf
infra/terraform/**/*_override.tf.json
infra/terraform/**/crash.log
infra/terraform/**/crash.*.log
