<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <conversionRule conversionWord="levelHl"
                     converterClass="br.com.lata.velha.shared.infrasctructure.logging.LevelHighlightConverter"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%levelHl %clr([%X{traceId:-N/A}]){faint} %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%thread]){faint} %clr(%C{0}.%M){cyan} %clr(:){faint} %m%n%wEx"/>

    <property name="FILE_LOG_PATTERN"
              value="%-5level [%X{traceId:-N/A}] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %C{0}.%M : %m%n%wEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="dev">
        <appender name="FILE_DEV" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>./app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>./app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>20MB</maxFileSize>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE_DEV"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/lata-velha/logs/app.log.json</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/lata-velha/logs/app.%d{yyyy-MM-dd}.%i.log.json</fileNamePattern>
                <maxFileSize>${LOG_MAX_FILE_SIZE:-100MB}</maxFileSize>
                <maxHistory>${LOG_MAX_HISTORY:-7}</maxHistory>
                <totalSizeCap>${LOG_TOTAL_SIZE_CAP:-1GB}</totalSizeCap>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"service":"lata-velha-api"}</customFields>
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE_JSON"/>
        </root>
    </springProfile>

</configuration>
